body {
    background-color: cornflowerblue;
}
button, .custom-file-upload {
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
}
button:hover, .custom-file-upload:hover {
    background-position: right center;
}
/* Скрываем элемент <input type="file" /> */
input[type="file"] {
    display: none;
}
#textInput {
    background-color: transparent;
}

/*@media (min-width: 1140px) {*/
/*    #newImg {*/
/*        width: 500px;*/
/*        height: 400px;*/
/*    }*/
/*    #clientImage {*/
/*        width: 500px;*/
/*        height: 400px;*/
/*        float: left;*/
/*        margin-right: 20px;*/
/*        margin-left: 50px;*/
/*    }*/
/*}*/
/*@media (max-width: 1139px) and (min-width: 950px) {*/
/*    #newImg {*/
/*        !*width: 450px;*!*/
/*        !*height: 350px;*!*/
/*        width: 48%;*/
/*        height: 350px;*/
/*    }*/
/*    #clientImage {*/
/*        width: 48%;*/
/*        height: 350px;*/
/*        float: left;*/
/*        margin-right: 10px;*/
/*        margin-left: 2%;*/
/*    }*/
/*}*/
/*@media (max-width: 600px) and (min-width: 300px) {*/
/*    #newImg {*/
/*        width: 150px;*/
/*        height: 100px;*/
/*    }*/
/*    #clientImage {*/
/*        width: 150px;*/
/*        height: 50px;*/
/*        margin-right: 5px;*/
/*        float: left;*/
/*    }*/
/*}*/
#clientImage {
    width: 45%;
    height: 37%;
    float: left;
    margin-right: 10px;
    margin-left: 2%;
    margin-bottom: 10px;
}
#newImg {
    margin-left: 2%;
    /*width: 450px;*/
    /*height: 350px;*/
    width: 45%;
    height: 37%;
}