body {
    background-color: cornflowerblue;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
button, .custom-file-upload {
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
}
button:hover, .custom-file-upload:hover {
    background-position: right center;
}
input[type="file"] {
    display: none;
}
#textInput {
    background-color: transparent;
}
#clientImage {
    width: 45%;
    height: 37%;
    float: left;
    margin-right: 10px;
    margin-left: 2%;
    margin-bottom: 10px;
}
#newImg {
    margin-left: 2%;
    width: 45%;
    height: 37%;
}
#load button {
    width: 8%;
}